{% extends "base.html" %}
{% load static %}
{% block content%}


<div class="col-md-8">
    <div class="card-deck row row-cols-1 row-cols-md-2">
    <div class="col mb-4">
    <a href="" style="text-decoration: none;">
    <div class="card">
    <h1>{{projects.title}}</h1>
    <img src="{{projects.imagen.url}}" class="card-img-top mx-auto" style="object-fit: cover; max-height: 35vh;" alt="...">
    <div class="col-5 col-md-4" ><p class="badge badge-pill badge-success">{{ projects.estado }}</p></div>
    <h4 class="text-gray-800">Presupuesto asignado</h4><p class="card-text text-gray-600">S/. {{projects.presupuesto}}</p>
</div>
</div>
</div>
{% endblock %}